:root {
  color-scheme: dark light;
  font-family: system-ui, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: var(--100vh, 100vh);
  width: 100vw;
}
