:root {
  --padding: 0.75rem;
}

body {
  overflow: hidden;
  display: grid;
  grid-template-areas:
    'navbar'
    'pages'
    'tabbar';
  grid-template-rows:
    auto /* navbar */
    1fr /* pages */
    auto; /* tabbar */
}

@supports (padding: max(1px)) {
  body {
    padding: max(var(--padding), env(safe-area-inset-top))
      max(var(--padding), env(safe-area-inset-right))
      max(var(--padding), env(safe-area-inset-bottom))
      max(var(--padding), env(safe-area-inset-left));
  }
}

iframe {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

#navbar,
#tabbar {
  user-select: none;
  overflow: hidden;
}

#navbar {
  height: 45pt;
}

#tabbar {
  height: 49pt;
}

#pages {
  display: flex;
  width: 100%;
  overflow: hidden;
}

#pages iframe {
  display: none;
  height: 100%;
}
