body {
  background-color: ButtonFace;
}

h1 {
  display: inline-block;
  position: absolute;
  left: var(--padding);
}

h1:dir(rtl) {
  right: var(--padding);
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}
