table {
  width: 100%;
  border: none;
  margin-block-end: 1rem;
}

th {
  text-align: start;
}

td.number {
  text-align: end;
}

th,
tr:nth-child(even) {
  background-color: #eee;
}

@media (prefers-color-scheme: dark) {
  th,
  tr:nth-child(even) {
    background-color: #222;
  }
}
