body {
  padding: 0;
}

main {
  display: flex;
  height: 100vh;
}

a {
  height: 100%;
  flex-grow: 1;
  text-decoration: none;
  color: #000;
  background-color: var(--theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  color: #fff;
}
