body {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
}

a {
  width: calc(100% / 3);
  height: 100%;
  border: solid 1px #000;
  text-decoration: none;
  color: ButtonText;
  background-color: ButtonFace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  color: HighlightText;
  background-color: Highlight;
}
