@import '/node_modules/@shoelace-style/shoelace/dist/shoelace/shoelace.css';

select {
  display: block;
  font-size: inherit;
  width: 100%;
  margin-block-end: 1rem;
}

option {
  font-weight: inherit;
}

button {
  background-position: center;
  transition: background 0.5s;
}

button:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
    center/15000%;
}

button:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
}
